<div class="container">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="productosId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.productosId }}</td>
    </ng-container>

    <ng-container matColumnDef="productosNombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element"> {{ element.productosNombre }}</td>
    </ng-container>

    <ng-container matColumnDef="productosCategoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element"> {{ element.productosCategoria }}</td>
    </ng-container>

    <ng-container matColumnDef="productosCantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let element"> {{ element.productosCantidad }}</td>
    </ng-container>

    <ng-container matColumnDef="productosPrecio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let element"> {{ element.productosPrecio }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="deleteProducto(element.productosId)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="updateProductos(element.productosId)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
